* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-transform: uppercase;
  padding: 35px 100px 0;
}

.header__logo {
  padding: 23px 0 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav {
  padding-top: 17px;
  margin-right: 51px;
  word-spacing: px;
  width: 445px;
}

.header__logo a img {
  margin: -3px 10px 0 -6px;
}

.header__logo a h2 {
  font-size: 18px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header nav li {
  font-size: 14px;
  margin: 0 10px;
}

.header nav li:last-child {
  margin-right: -92px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 782px;
  color: white;
  text-align: center;
  min-height: 600px;
  padding-top: 53px;
}

.banner__img {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(213, 32, 71, 0.8)), to(rgba(238, 61, 27, 0.8))), url("images/Rectangle_3.png");
  background-image: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%), url("images/Rectangle_3.png");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.banner__btn {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 16.5px 53px;
  background: white;
  color: #ED4C5C;
  border-radius: 6px;
}

.banner p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 39px;
  margin-top: 39px;
  padding: 0 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
}

.banner h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.section__title {
  font-size: 36px;
  padding-top: 63px;
  letter-spacing: -1px;
  padding-bottom: 73px;
}

.features {
  height: 600px;
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__content {
  margin-top: 2px;
  width: 80%;
  margin-left: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__content li {
  padding: 0 15px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  text-align: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
}

.features__content-1 {
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__content-2 {
  margin-left: 36px;
  margin-top: 32px;
  width: 293px;
  height: 198px;
  z-index: 10;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.features__content-2 h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 34px 32px 0 35px;
  z-index: 10;
}

.features__content-2 p {
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 18px 35px 5px 35px;
  padding-bottom: 21px;
}

.features__content-2 a {
  font-size: 12px;
  color: #ED4C5C;
}

.features__img-1 {
  background-image: url("images/Bg_1.png");
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.features__img-2 {
  background-image: url("images/Bg_2.png");
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.features__img-3 {
  background-image: url("images/Bg_3.png");
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
}

.technology .section__title {
  letter-spacing: 0.1px;
  margin-top: 59px;
}

.technology__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 79%;
}

.technology__box li {
  padding: 0 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.technology__content {
  margin-top: 52px;
}

.technology__content li {
  padding: 0 15px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  text-align: center;
}

.technology__content li .technology-img-1 {
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
  position: absolute;
  top: 100;
  z-index: -1;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.technology__content li .technology-img-2 {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  z-index: -1;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.technology__content li .technology-img-3 {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  z-index: -1;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.technology__content li .technology-img-4 {
  width: 350px;
  height: 250px;
  border-radius: 8px;
  position: absolute;
  top: 100;
  z-index: -1;
  background-repeat: no-repeat;
  margin-left: 20px;
}

.technology__content-1 {
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology__content-2 {
  margin-left: 36px;
  margin-top: 32px;
  width: 293px;
  height: 198px;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.technology__content-2 h4 {
  font-weight: bold;
  font-size: 18px;
  padding: 33px 32px 0 34px;
}

.technology__content-2 p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin: 19px 20px 2px 20px;
  padding-bottom: 21px;
}

.technology__content-2 a {
  font-size: 12px;
  color: #ED4C5C;
}

.technology__number {
  margin-left: 70px;
  margin-top: -7px;
  font-weight: bold;
  font-size: 100px;
  line-height: 120px;
  text-align: center;
  color: rgba(16, 16, 16, 0.08);
  position: absolute;
}

.technology__description {
  margin-left: 33px;
  margin-right: 33px;
}

.technology__description h4 {
  font-size: 18px;
}

.technology__description p {
  font-size: 12px;
  margin-top: 11px;
}

img.fir {
  margin-bottom: -4px;
}

img.sec {
  margin-top: 4px;
  margin-bottom: 5px;
}

img.thi {
  margin-top: 10px;
  margin-bottom: 10px;
}

img.for {
  margin-top: 13px;
  margin-bottom: 11px;
}

ul.technology__content {
  width: 80%;
  margin-left: -37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.focused {
  margin-top: 60px;
  min-height: 500px;
  background-color: #ED4C5C;
}

.focused__size {
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.focused__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.focused__content li {
  padding: 20px;
}

.focused__content--left {
  width: 100%;
  color: white;
}

.focused__content--left h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  padding: 104px 100px 0 144px;
}

.focused__content--left p {
  font-size: 14px;
  line-height: 140%;
  margin: 45px 84px 47px 146px;
  text-align-last: justify;
}

.focused__content--right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.focused__content--right .above {
  margin-top: 75px;
  width: 445px;
  height: 311px;
  z-index: 10;
  position: absolute;
}

.focused__content--right .under {
  margin: 95px 0 0 -45px;
  position: absolute;
  opacity: 0.5;
  border-radius: 15px;
  width: 533px;
  height: 267px;
  background-color: #C4C4C4;
}

.focused__content-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 142px;
  display: flex;
}

.focused__content-icons li {
  padding: 0 23px 0 0;
}

span {
  padding-right: 84px;
}

.contact {
  width: 80%;
  margin: 118px 0 0 174px;
}

.contact__size {
  min-height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "contact__content contact__form";
}

.contact__content {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact__content;
}

.contact__content h3 {
  font-size: 36px;
  line-height: 43px;
}

.contact__content p {
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin: 55px 139px 0 1px;
}

.contact__content span {
  text-align-last: center;
  letter-spacing: 0.15px;
}

.contact__form {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact__form;
}

.contact__form .contact__name {
  margin-left: -14px;
}

.contact.__data {
  display: -ms-grid;
  display: grid;
}

input.first-name, input.last-name {
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

input.last-name {
  margin-left: 26px;
}

input.phone-number, input.select-service {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  border-radius: 6px;
  margin: 24px 0 0 -15px;
}

button {
  width: 160px;
  height: 50px;
  background: #ED4C5C;
  border: 1.5px solid #ED4C5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin: 27px 0 0 -15px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

input[type="text"]::-webkit-input-placeholder {
  padding-left: 29px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

input[type="text"]:-ms-input-placeholder {
  padding-left: 29px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

input[type="text"]::-ms-input-placeholder {
  padding-left: 29px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

input[type="text"]::placeholder {
  padding-left: 29px;
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

@media (max-width: 1230px) {
  ul.features__content {
    width: auto;
  }
}

@media all and (max-width: 1300px) {
  ul.features__content {
    width: auto;
  }
  .contact__name {
    display: -ms-grid;
    display: grid;
  }
  input.last-name {
    margin-top: 26px;
    margin-left: 0px;
  }
}

@media all and (max-width: 1200px) {
  ul.features__content {
    width: auto;
  }
  .contact__name {
    display: -ms-grid;
    display: grid;
  }
  input.last-name {
    margin-top: 26px;
    margin-left: 0px;
  }
}

@media (max-width: 1000px) {
  .header {
    padding: 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__logo {
    margin-bottom: 15px;
  }
  .focused__content--right {
    display: none;
  }
  section {
    padding: 100px 50px;
  }
  .contact__size {
        grid-template-areas: "contact__content" "contact__form";
  }
  .contact__form {
    margin-top: 30px;
    text-align: center;
  }
  input.phone-number, input.select-service {
    width: auto;
  }
  .contact__content p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
    margin: 0;
    min-width: 100%;
    height: auto;
  }
  section {
    padding: 0;
  }
  section__title {
    padding-bottom: 20px;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    padding: 15px 0;
  }
  .header nav li {
    margin: 0 7px;
    display: contents;
  }
  .header .header__logo {
    margin-bottom: 15px;
  }
  nav.header__nav {
    margin: 0;
    width: auto;
    display: contents;
  }
  nav.header__nav ul {
    margin: 0;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.header__nav ul a {
    padding: 5px 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
    width: -webkit-fill-available;
    border: 1px solid white;
  }
  nav.header__nav ul a :hover {
    color: #ED4C5C;
    background: white;
  }
  .banner {
    padding-top: 200px;
  }
  .banner .banner__img {
    min-height: 680px;
  }
  .banner h1 {
    display: none;
  }
  .features {
    height: auto;
    min-height: 600px;
  }
  .features__content li {
    margin: auto;
    height: auto;
    padding-bottom: 40px;
  }
  .features .features__img-1 {
    margin-left: 7px;
  }
  .features .features__img-2 {
    margin-left: 7px;
  }
  .features .features__img-3 {
    margin-left: 7px;
  }
  ul.features__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .technology {
    height: auto;
  }
  .technology__content {
    margin-top: 50px;
  }
  .technology__box {
    width: 100%;
  }
  .technology__box li {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    height: auto;
    margin-bottom: 40px;
  }
  .technology__box li:last-child {
    margin-bottom: 0;
  }
  .technology__number {
    margin: 0 30vw;
  }
  .technology .section__title {
    margin-top: 0;
  }
  .focused {
    min-height: auto;
    padding-bottom: 10px;
  }
  .focused__size {
    width: 100%;
  }
  .focused__content-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
  .focused__content--left h3 {
    padding: 0;
    text-align: center;
  }
  .focused__content--left p {
    margin: 30px 10px;
    text-align-last: auto;
  }
  .contact {
    width: auto;
    margin: 0;
    text-align: center;
    margin: 30px;
  }
  .contact__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__content h3 {
    margin-bottom: 25px;
  }
  input.first-name, input.last-name {
    width: auto;
  }
  .contact__form .contact__name {
    margin-left: 0;
  }
  input.phone-number, input.select-service {
    margin-left: 0;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */