*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
font-family: 'Lato', sans-serif;
width: 1440px;
height: 2942px;
// width: 100%;
}

ul, nav{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: uppercase;
    padding: 35px 100px 0;
    
        &__logo{
            padding: 23px 0 0 70px;
            display: flex;
        }
        &__nav{
            padding-top: 17px;
            // margin-right: 42px;
            margin-right: 51px;
            word-spacing: px;
            width: 445px;
        }
        &__logo {
            & a{
                & img{
                    margin: -3px 10px 0 -6px;
                }
            & h2{
                font-size: 18px;
            }
        }
        }
        & nav ul{
            display: flex;
        }
        & nav li{
            font-size: 14px;
            margin: 0 10px;
        &:last-child{
        margin-right: -92px;
        }
    }
    
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: 782px;
    color: white;
    text-align: center;
    min-height: 600px;
    padding-top: 53px;

    &__img{
        background-image:
        linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%),
        url('images/Rectangle_3.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        z-index: -1;
        
    }
    &__btn{
        transform: translateY(16px);
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        padding: 16.5px 53px;
        background: white;
        color: #ED4C5C;
        border-radius: 6px;
    }
    & p{
        max-width: 800px;
        text-align: center;
        margin-bottom: 39px;
        margin-top: 39px;
        padding: 0 20px;
    
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 150%;
    }
    & h1{
        font-style: normal;
        font-weight: bold;
        font-size: 72px;
        align-items: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
    }
}

.section__title{
    font-size: 36px;
    padding-top: 63px;
    letter-spacing: -1px;
    padding-bottom: 73px;
}


.features{
    height: 600px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__content{
        margin-top: 2px;
        width: 80%;
        margin-left: -37px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & li{
            padding: 0 15px;
            flex-basis: 33%;
            text-align: center;
            position: relative;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

    }
    &__content-1 {
        margin-top: 125px;
        display: flex;
        justify-content: center;
    }
    &__content-2 {
        margin-left: 36px;
        margin-top: 32px;
        width: 293px;
        height: 198px;
        z-index: 10;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        & h4{
            font-weight: bold;
            font-size: 18px;
            padding: 34px 32px 0 35px;
            z-index: 10;
        }
        & p{
            line-height: 17px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            margin: 18px 35px 5px 35px;
            padding-bottom: 21px;
        }
        & a{
            font-size: 12px;
            color: #ED4C5C;
        }
    }
    &__img-1{
        background-image: url('images/Bg_1.png');
        width: 350px;
        height: 250px;
        border-radius: 8px;
        position: absolute;
        top: 100;
        background-repeat: no-repeat;
        margin-left: 20px;
    }
    &__img-2{
        background-image: url('images/Bg_2.png');
        width: 350px;
        height: 250px;
        border-radius: 8px;
        position: absolute;
        top: 100;
        background-repeat: no-repeat;
        margin-left: 20px;
    }
    &__img-3{
        background-image: url('images/Bg_3.png');
        width: 350px;
        height: 250px;
        border-radius: 8px;
        position: absolute;
        top: 100;
        background-repeat: no-repeat;
        margin-left: 20px;
    }
    
    
}

.technology{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

    & .section__title{
        letter-spacing: 0.1px;
        margin-top: 59px;
    }
    &__box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 79%;
        & li{
            padding: 0 15px;
            flex-basis: 25%;
            text-align: center;
            position: relative;
            justify-content: center;
            height: 100vh;
        }
    }
    &__content {
        margin-top: 52px;
    }
    &__content li{
        padding: 0 15px;
        flex-basis: 25%;
        text-align: center;
        position: relative;
        justify-content: center;
        height: 100vh;
        text-align: center;
        & .technology-img-1{
            font-weight: bold;
            font-size: 100px;
            line-height: 120px;
            text-align: center;
            color: rgba(16, 16, 16, 0.08);
            position: absolute;
            top: 100;
            z-index: -1;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
        &  .technology-img-2{
            width: 350px;
            height: 250px;
            border-radius: 8px;
            position: absolute;
            top: 100;
            z-index: -1;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
        & .technology-img-3{
            width: 350px;
            height: 250px;
            border-radius: 8px;
            position: absolute;
            top: 100;
            z-index: -1;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
        & .technology-img-4{
            width: 350px;
            height: 250px;
            border-radius: 8px;
            position: absolute;
            top: 100;
            z-index: -1;
            background-repeat: no-repeat;
            margin-left: 20px;
        }
    }
    &__content-1 {
        margin-top: 125px;
        display: flex;
        justify-content: center;
    }
    &__content-2 {
        margin-left: 36px;
        margin-top: 32px;
        width: 293px;
        height: 198px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        & h4{
            font-weight: bold;
            font-size: 18px;
            padding: 33px 32px 0 34px;
        }
        & p{
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            margin: 19px 20px 2px 20px;
            padding-bottom: 21px;
        }
        & a{
            font-size: 12px;
            color: #ED4C5C;
        }
    }
    &__number{
        margin-left: 70px;
        margin-top: -7px;
        font-weight: bold;
        font-size: 100px;
        line-height: 120px;
        text-align: center;
        color: rgba(16, 16, 16, 0.08);
        position: absolute;
    }
    &__description {
        margin-left: 33px;
        margin-right: 33px;
        & h4{
            font-size: 18px;
        }
        & p{
            font-size: 12px;
            margin-top: 11px;
        }
    }
}

img.fir {
    margin-bottom: -4px;
}

img.sec {
    margin-top: 4px;
    margin-bottom: 5px;
}
img.thi {
    margin-top: 10px;
    margin-bottom: 10px;
}
img.for {
    margin-top: 13px;
    margin-bottom: 11px;
}
ul.technology__content{
    width: 80%;
    margin-left: -37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.focused{
    margin-top: 60px;
    min-height: 500px;
    background-color: #ED4C5C;
    &__size{
        width: 80%;
        flex-wrap: wrap;
    }
    &__content{
        display: flex;
        & li{
            padding: 20px;
        }
        &--left{
            width: 100%;
            color: white;
            & h3{
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                padding: 104px 100px 0 144px;
            }
            & p{
                font-size: 14px;
                line-height: 140%;
                margin: 45px 84px 47px 146px;
                text-align-last: justify;
            }
        }
        &--right{
            flex-basis: 60%;
            & .above{
                margin-top: 75px;
                width: 445px;
                height: 311px;
                z-index: 10;
                position: absolute;
            }
            & .under{
                margin: 95px 0 0 -45px;
                position: absolute;
                opacity: 0.5;
                border-radius: 15px;
                width: 533px;
                height: 267px;
                background-color: #C4C4C4;
            }
        }
    }
    &__content-icons{
        display: flex;
        align-items: center;
        margin-left: 142px;
        display: flex;
        & li{
            padding: 0 23px 0 0;
        }
    }
}

span {
    padding-right: 84px;
}


.contact{
    width: 80%;
    margin: 118px 0 0 174px;
    &__size{
        min-height: 500px;
        // height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "contact__content contact__form";
    }
    &__content{
        grid-area: contact__content;
        & h3{
            font-size: 36px;
            line-height: 43px;
        }
        & p{
            font-size: 14px;
            line-height: 140%;
            text-align: justify;
            margin: 55px 139px 0 1px;
        }
        & span{
            text-align-last: center;
            letter-spacing: 0.15px;
        }
    }
    &__form{
        grid-area: contact__form;
        & .contact__name{
            margin-left: -14px;
        }
    }
    &.__data {
        display: grid;
    }
    
}

input.first-name, input.last-name {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
}
input.last-name{
    margin-left: 26px;
}

input.phone-number, input.select-service {
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    margin: 24px 0 0 -15px;
}

button {
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    margin: 27px 0 0 -15px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

input[type="text"]::placeholder {
    // padding-left: 29px;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

input[type=text]:focus {
    background-color: #dbbec2;
    // opacity: 0.2;
    font-size: 16px;
    line-height: 19px;
    color: black;
}
input{
    padding-left: 29px;
    font-size: 16px;
    line-height: 19px;
    color: black;
}
.validation{
    padding-top: 5px;
    margin-left: -20px;
    font-size: 32px;
    font-weight: 600;
    color: gray;
}
@media (max-width: 1230px){
    ul.features__content{
        width: auto;
    }
}
@media all and (max-width: 1300px){
    ul.features__content {
        width: auto;
    }

    .contact__name {
        display: grid;
    }
    input.last-name {
        margin-top: 26px;
        margin-left: 0px;
    }
}
@media all and (max-width: 1200px){
    ul.features__content {
        width: auto;
        // display: block;
    }
    .contact__name {
        display: grid;
    }
    input.last-name {
        margin-top: 26px;
        margin-left: 0px;
    }
    input.phone-number, input.select-service {
        margin-left: 0;
        width: 100%;
    }
    .features {
        height: auto;
        min-height: 600px;
    }
    .technology{
        height: auto;
    }
}
@media (max-width: 1000px){
    .header{
        padding: 20px 50px;
        flex-direction: column;
        & .header__logo{
            margin-bottom: 15px;
        }
    }
    .focused__content--right{
        display: none;
    }
    section{
        padding: 100px 50px;
    }
    .contact__size {
        grid-template-areas: "contact__content" "contact__form";
    }
    .contact__form{
        margin-top: 30px;
        text-align: center;
    }
    input.phone-number, input.select-service {
        width: auto;
    }
    .contact__content p{
        margin: 0;
    }
}


@media (max-width: 768px){
    body{
        overflow-x: hidden;
        margin: 0;
        min-width: 100%;
        height: auto;
    }
    section{
        padding: 0;
        &__title {
            padding-bottom: 20px;
        }
    }
    .header{
        flex-direction: column;
        &__logo {
            padding: 15px 0;
        }
        & nav li{
            margin: 0 7px;
            display: contents;
        }
        .header__logo{
            margin-bottom: 15px;
        }
    }

    nav.header__nav{
        margin: 0;
        width: auto;
        display: contents;
        & ul{
            margin: 0;
            width: auto;
            flex-direction: column;
            align-items: center;
            & a{
                padding: 5px 40px;
                margin-bottom: 10px;
                letter-spacing: 1px;
                font-weight: 600;
                border-radius: 8px;
                width: -webkit-fill-available;
                border: 1px solid white;
                :hover{
                    color: #ED4C5C;
                    background: white;
                }
            }
        }
    }
    
    .banner {
        padding-top: 200px;
        & .banner__img {
            min-height: 680px;
        }
        & h1{
            display: none;
        }
    }
    
    
    .features {
        height: auto;
        min-height: 600px;
        &__content li {
            margin: auto;
            height: auto;
            padding-bottom: 40px;
        }
        & .features__img-1 {
            margin-left: 7px;
        }
        & .features__img-2 {
            margin-left: 7px;
        }
        & .features__img-3 {
            margin-left: 7px;
        }
    }

    ul.features__content {
        justify-content: flex-start;
    }

    .technology{
        height: auto;
        &__content {
            margin-top: 50px; 
        }
        &__box {
            width: 100%;
            & li {
                flex-basis: auto;
                height: auto;
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        &__number {
            margin: 0 30vw;
        }
        & .section__title {
            margin-top: 0;
        }
    }

    .focused {
        min-height: auto;
        padding-bottom: 10px;
        &__size {
            width: 100%; 
        }
        &__content-icons {
            justify-content: center;
            margin: 0;
        }
        &__content{
            &--left h3 {
                padding: 0;
                text-align: center;
            }
            &--left p {
                margin: 30px 10px;
                text-align-last: auto;
            }
        }
    }

    .contact {
        width: auto;
        margin: 0;
        text-align: center;
        margin: 30px;
        &__size {
            display: flex;
            flex-direction: column;
        }
        &__content h3 {
            margin-bottom: 25px;
        }
    }

    input.first-name, input.last-name{
        width: auto;
    }
    .contact__form .contact__name {
         margin-left: 0; 
    }
    input.phone-number, input.select-service {
        margin-left: 0;
        width: 100%;
    }
}